@font-face {
  font-family: 'SometypeMono';
  src: url('/fonts/SometypeMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'SometypeMono', sans-serif;
}
