@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 37, 36;
  --background-rgb: 253, 246, 234;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}