@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SometypeMono';
  src: url('../../public/fonts/SometypeMono.ttf') format('truetype');
  font-weight: 400, 700;
  font-style: normal;
} 

/* Variables: GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght */
@font-face {
  font-family: 'RobotoFlex';
  src: url('../../public/fonts/RobotoFlex.ttf') format('truetype');;
} 

:root {
  --foreground-rgb: 25, 25, 26;
  --background-rgb: 226, 206, 134;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}