@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SometypeMono';
  src: url('../../public/fonts/SometypeMono.ttf') format('truetype');
  font-weight: 400, 700;
  font-style: normal;
} 

/* Variables: GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght */
@font-face {
  font-family: 'RobotoFlex';
  src: url('../../public/fonts/RobotoFlex.ttf') format('truetype');;
} 

:root {
  --foreground-rgb: 25, 25, 26;
  --background-rgb: 226, 206, 134;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}

* {
  border-width: 0;
}

.links {
  color: inherit;
  border-bottom: 1.5px solid inherit;
  transition: 200ms cubic-bezier(.29,.57,.94,.61);
  text-decoration-line: none;
}

.links:hover {
  border-bottom:none;
  padding-bottom: 2px;
  background-position:0 100%;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift .5s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke='black' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E");
  transition: 200ms cubic-bezier(.29,.57,.94,.61);
}

.header-background {
  background-color: rgb(var(--background-rgb));
  z-index: 8;
}

aside {
  z-index: 10;
}
/* frontendjoe */
body {
  font-family: "Poppins";
  height: 100vh;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.burger, .menu {
  position: fixed;
}

.burger {
  z-index: 4;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 88px;
  height: 88px;
  background-image: url('../../public/images/assets/menu.svg');
}

.burger.open {
  background-image: url('../../public/images/assets/close.svg');
}

.background {
  position: fixed;
  z-index: 2;
  top: 44px;
  left: 44px;
  aspect-ratio: 1/1;
  translate: -50% -50%;
  height: 88px;
  background-color: inherit;
  border-radius: 50%;
  opacity: 0;
  transition: 0s;
}

.background.open {
  height: 300vh;
  opacity: 0.05;
}

.menu {
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.05s;
}

.menu nav { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start;
  padding-left: 100px;
}

.menu.open {
  opacity: 1;
  visibility: visible;
}

.menu a {
  color: inherit;
  font-size: 32px;
  padding: 20px 0 20px 20px;
  text-decoration: none;
  text-transform: capitalize;
  opacity: 0;
  cursor: pointer;
  transition: 0.4s;
}

.menu nav:hover > a {
  opacity: 0.25
}

.menu nav > a:hover {
  opacity: 1;
}

.menu.open a {
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 30px;
  }
  100% {
    opacity: 1;
  }
}

.appear {
  animation: appear 0.32s backwards;
}

.page {
  transition: 0.6s;
}

.page.open {
  filter: blur(10px);
}