@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SometypeMono';
  src: url('../../public/fonts/SometypeMono.ttf') format('truetype');
  font-weight: 400, 700;
  font-style: normal;
} 

/* Variables: GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght */
@font-face {
  font-family: 'RobotoFlex';
  src: url('../../public/fonts/RobotoFlex.ttf') format('truetype');;
} 

:root {
  --foreground-rgb: 25, 25, 26;
  --background-rgb: 226, 206, 134;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}

* {
  border-width: 0;
}

.links {
  color: inherit;
  border-bottom: 1.5px solid inherit;
  transition: 200ms cubic-bezier(.29,.57,.94,.61);
  text-decoration-line: none;
}

.links:hover {
  border-bottom:none;
  padding-bottom: 2px;
  background-position:0 100%;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift .5s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke='black' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E");
  transition: 200ms cubic-bezier(.29,.57,.94,.61);
}

.header-background {
  background-color: rgb(var(--background-rgb));
  z-index: 8;
}

aside {
  z-index: 10;
}